.banner {
  position: relative;
}

.bgImg img {
  filter:brightness(90%);
  width: 100%;
}

.textContainer {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}

.textContainer h1 {
  font-size: 7rem;
}

.textContainer p {
  font-size: 4rem;
  margin-top: 20px;
}

.textContainer p span {
  color: #2F58CD;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .textContainer h1{
    font-size: 2.5rem;
  }

  .textContainer p {
    font-size: 1.6rem;
  }
    
}