.container {
  margin: 10px;
  background: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #bdbdbd;
  transition: all 0.5s;
}

.container:hover {
  transform: scale(1.05);
}

.cardImg {
  width: 300px;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.container h3 {
  margin: 30px 20px 20px;
}

.container p {
  margin: 0 25px 20px;
  background-color: #5fcc9c;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 0 40px;
  }
}
